@model CategoryViewModel
@{
    ViewData["Title"] = "Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 bg-info mb-5 rounded-3">
    <h3 class="mb-3 text-sm-center text-danger font-monospace fw-bolder p-2">Kategoriyi Düzenle</h3>
    <form class="row g-3" asp-area="Admin" asp-controller="Category" asp-action="Update" method="post">
        <div class="mb-3">
            <label asp-for="Category.Name" class="form-label">Kategori Adı</label>
            <input asp-for="Category.Name" type="text" class="form-control"/>
            <span asp-validation-for="Category.Name"></span>
        </div>
        <input type="hidden" asp-for="Category.Id"/>
        <button type="submit" class="btn btn-success col-md-1 mx-auto mb-3">Güncelle</button>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
