@model ArticleViewModel

@{
    ViewData["Title"] = "Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 bg-info mb-5 rounded-3">
    <h3 class="mb-3 text-sm-center text-danger font-monospace fw-bolder p-2">Makaleyi Düzenle</h3>
    <form class="row g-3" asp-area="Admin" asp-controller="Article" asp-action="Update" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Article.Title" class="form-label">Makale Başlığı</label>
            <input asp-for="Article.Title" class="form-control"/>
            <span asp-validation-for="Article.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Article.Content" class="form-label">Makale İçeriği</label>
            <textarea asp-for="Article.Content" id="editor" class="form-control"></textarea>
            <span asp-validation-for="Article.Content" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Article.CategoryId"></label> 
            <select class="form-control" asp-for="Article.CategoryId" asp-items="@(new SelectList(Model.Categories,"Id","Name"))"></select>
            <span asp-validation-for="Article.CategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Article.ThumbnailFile" class="form-label">Thumbnail</label>
            <input asp-for="Article.ThumbnailFile" name="file" class="form-control" />
            <span asp-validation-for="Article.ThumbnailFile" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Article.Date" class="form-label">Tarih</label>
            <input asp-for="Article.Date" type="datetime-local" class="form-control" />
            <span asp-validation-for="Article.Date" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="Article.Id"/>
        <button type="submit" class="btn btn-success col-md-1 mx-auto mb-3">Güncelle</button>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ArticleScriptsPartial"/>
        <partial name="_ValidationScriptsPartial"/>
    }
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
            toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
            toolbar_mode: 'floating',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
        });
    </script>
}

<style>
    .ck-editor__editable_inline {
        min-height: 600px;
    }
</style>

