@model SocialListViewModel

<section class="resume-section" id="socials">
    <div class="resume-section-content">
        <h2 class="mb-5">İletişim</h2>
        <div class=" mb-5">
            Email: <a href="mailto:emreaydogdu0099@gmail.com">emreaydogdu0099@gmail.com</a>
        </div>
        @foreach (var social in Model.Socials)
        {
            <div class="social-icons">
                <a class="social-icon" href="@social.Link" target="_blank"><i class="@social.IconName"></i></a>
            </div>
        }
    </div>
</section>