@model ProjectListViewModel

<section class="resume-section" id="projects">
    <div class="resume-section-content">
        <h2 class="mb-5">Projeler</h2>
        <div class="container">
            <div class="row">
                @foreach (var project in Model.Projects)
                {
                    <div class="col-4">

                        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                            <div class="card-header"><a href="@project.Link" class="text-white" target="_blank">Proje Linki</a></div>
                            <div class="card-body">
                                <h5 class="card-title">@project.Name</h5>
                                <p class="card-text">@project.Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>