@model CategoryListViewModel

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Kategoriler
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var category in Model.Categories)
        {
            <li><a class="dropdown-item" href="/Article/Index/@category.Id">@category.Name</a></li>
        }
    </ul>
</li>